<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--icono pestaña-->
     <link rel="shortcut icon" href="../imagenes/cabecera.ico" type="image/x-icon">
    <!--fuente google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/style.css">   
       <title>DIAGNO PC</title>
   
</head>
</div>
<body>


<div class="forum">
    <div class="plantilla">
        <span class="plantilla1">
            <img src="../imagenes/enviar.png" alt="enviar">
         <h3>COMENTANOS TU PROBLEMA<h3> 
        </span>
    </div>
    <a class="boton" href="../../index.html"><button>Volver al inicio</button></a>

    <form action="" class="contac">
        <label for="nombres">NOMBRE</label>
        <input type="text" name="nombres" id="nombres">
        
        <label for="nombres">CORREO</label>
        <input type="text" name="correo" id="correo">

        <label for="celular">NUMERO TEL</label>
        <input type="text" name="celular" id="celular">

        <label for="mensaje">MENSAJE</label>
        <textarea name="mensaje" id="mensaje"></textarea>
        <input type="submit" value="Enviar">

    </form>
    

</div>
    
  
    
    
</body>
</html>