<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--icono pestaña-->
     <link rel="shortcut icon" href="../imagenes/cabecera.ico" type="image/x-icon">
    <!--fuente google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/style.css">   
      <title>DIAGNO PC</title>
   
</head>
<body>

    <div class="lenta">
        <div class="video-lenta">
            <video width="280" height="350" controls>
                <source src="../videos/hdd ssd.mp4" type="video/mp4">
                 </video>

        </div>

        <div class="texto-lenta">
            <h3>¿Puedo poner un disco SSD a mi pc ?</h3>
            <p>Salvo las placas base o (motherboards) antiguas tendrian que modificarce
                para poder adaptar un disco SSD de la nueva tecnologia,
                en las placas base modernas se puede remplazar el disco mecanico HDD por un SSD 
                que posee una velocidad de transferencia de datos mayor lo cual le brinda a la PC 
                una fluidez que optimiza la velocidad de arranque como asi tambien la apertura de programas y el trabajo sobre los mismos 

            </p> <br>
            <p>Con el paso de los años, los avances tecnologicos han llevado a los 
                ingenieros en electronica a crear discos desarrollados en micro componentes,
                asi nacieron los nuevos discos SSD y M2 con un tamaño reducido y liviano,
                una transferencia de datos que paso de 80 MB/s en operaciones de lectura y  60 MB/s en escritura 
                a operaciones de de lectura cercana a 250 MB/s y a 230 MB/s en escritura de datos.

            </p>     
        </div>
      <a class="boton1" href="reparaciones.html"><button><h2>Volver</h2></button></a>
    

    </div>


    
    
</body>
</html> 