<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--icono pestaña-->
     <link rel="shortcut icon" href="../imagenes/cabecera.ico" type="image/x-icon">
    <!--fuente google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <title>DIAGNO-PC</title>
</head>
</div>
<body>
    <div class="lenta">
        <div class="video-lenta">
            <video width="280" height="350" controls>
                <source src="../videos/ram.mp4" type="video/mp4">
                 </video>

        </div>

        <div class="texto-lenta">
            <h3>¿ Puedo agregar memoria a mi pc ?</h3>
            <p>Todas las placas base o (motherboards)
                  soportan cierta cantidad de memoria RAM. 
                  para ello, con el comando CMD se realiza 
                  un chequeo que nos muestra cual es la cantidad  maxima 
                  soportada.
            </p> <br>
            <p>Con en el paso de los años, los avances tecnologicos han llevado a los 
                desarrolladores a crear sistemas operativos y programas cuya interfaz requiere una gran cantidad   
                de memoria RAM para ejecutarse con fluidez. Las PC antiguas, al igual que las notebooks, 
                venian equipadas con bancos de memoria de baja capacidad, como 1 GB o 2 GB.
                Estas maquinas tardan en arranquar y en abrir los programas debido a la baja transferencia de datos.
                Para los sistemas operativos nuevos, es necesario un minimo de 4 GB de ram para poder trabajar con fluidez. 
            </p>     
        </div>
      <a class="boton1" href="reparaciones.html"><button><h2>Volver</h2></button></a>
    

    </div>
        
    
    
</body>
</html>