<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--icono pestaña-->
     <link rel="shortcut icon" href="../imagenes/cabecera.ico" type="image/x-icon">
    <!--fuente google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/style.css">
        <title>DIAGNO PC</title>
    
</head>
<body>

    
    <div class="lenta">
        <div class="video-lenta">
            <video width="280" height="350" controls>
                <source src="../videos/procesadores.mp4" type="video/mp4">
                 </video>

        </div>

        <div class="texto-lenta">
            <h3>¿Mi procesador esta al 100% ?</h3>
            <p>Con el paso de los años, el avance tecnologico ha llevado a la creacion de nuevas tecnologias en 
                procesadores (tambien denominados CPU),con  mayor numero de nucleos que aceleran los procesos de datos, 
                la velocidad de la CPU se determina según la cantidad de cálculos que el procesador puede realizar por ciclo.
                La frecuencia de reloj se expresa en gigahercios, que equivale a mil millones de ciclos por segundo.
                Mientras mayor sea la frecuencia de reloj mas calor se genera,
                si el CPU supera su temperatura maxima de operacion entrara en modo de proteccion,
                esto ralentiza su funcionamiento hasta que su temperatura se normalice. Si la temperatura no baja, esto podria forzar 
                un reinicio de la PC para evitar que el procesador se queme por sobrecalentamiento.
                Otra causa de sobrecalentamiento puede ser la constante actualizacion de programas que requieren de un procesador de mejor tecnologia.
                 La arquitectura del procesador ya no soportaria la interfaz del programa, lo que generaria 
                lentitud en nustra pc o incluso podria hacer que la maquina se quede congelada, sin respuesta. Solo se escucharia el 
                ventilador funcionando a su maxima potencia o velocidad para intentar refrigerar la CPU.
                  


            </p> <br>
            <p>Con el paso de los años, los avances tecnologicos han llevado a los 
                ingenieros en electronica a crear procesadores desarrollados en microarquitectura,
                a los que se les adjudicaron numeros para nombrarlos y luego se fueron mejorando se utilizan los mismos numeros 
                y cambia la generacion.

            </p>     
        </div>
      <a class="boton1" href="reparaciones.html"><button><h2>Volver</h2></button></a>
    

    </div> 
                 
    
    
</body>
</html>