<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!--icono pestaña-->
          <link rel="shortcut icon" href="../imagenes/cabecera.ico" type="image/x-icon">
          <!--fuente google-->
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
           <!--boostrap-->
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
           rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
           <link rel="stylesheet" href="../styles/style.css">
          <title>DIAGNO-PC</title>
</head>
<body>
       <!--contenedor principal-->
          <div class="container" >

            <!--contenedor header barra de navegacion-->
                    <div class="navbar">

                    <!--aqui header-->  
                     <header>  
                   
                   <img class="logo" src="../imagenes/logo.jpeg" alt="logo diagno"><h1 class="portada">DIAGNO PC REPARACION DE PC y NOTEBOOK
                    FALLAS ELECTRONICAS HARWARE y SOFWARE</h1>  
               </header> 
                    </div>

                <!--aqui barra de navegacion-->
                   <div class="navbar">
               <nav>  
                                         <a class="enlace" href="../../index.html">INICIO</a>
                                         <a class="enlace" href="reparaciones.html" >REPARACION</a>
                                         <a class="enlace" href="#">NUESTROS TRABAJOS</a>
                                         <a class="enlace" href="contactos.html">CONTACTO</a>
                                 
                                         </nav>
                   </div>

       <!--contenedor de aside main article footer-->
          <div class="subcontainer"></div>
          <!--aqui aside-->
          <aside>
                   <a  href="https://youtube.com/shorts/dfWkWpg5_p0?si=3QFRbb3K1qeYz12-" target="_blank"><h6>MIRA EN YOUTUBE NUESTRO VIDEO DE REPARACIONES CLICK AQUI</h6></a>
                  
                  
                  </aside>
            <!--contenedor del main-->        

          <div class="main_container">

            <!--aqui main-->
                    <main class="galeria" >
                      <!--carrusel boostrap-->
    <div class="carrucel">
                             
                              <h2>GALERIA DE IMAGENES</h2>

                              <div id="carouselExample" class="carousel slide">
                                  <div class="carousel-inner">
                                    <div class="carousel-item active">
                                      <img src="../imagenes/2.jpeg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="../imagenes/3.jpeg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="../imagenes/4.jpeg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../imagenes/5.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/8.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/10.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/11.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/12.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/13.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/14.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/15.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="../imagenes/16.jpeg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                          <img src="../imagenes/18.jpeg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="../imagenes/20.jpeg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="../imagenes/21.jpeg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="../imagenes/falladisco.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="../imagenes/falla.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="../imagenes/disco4.jpg" class="d-block w-100" alt="...">
                                        </div>   
                                  </div>
                                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>
                              </div>
                                <div class="video"> 
                                
                                  <iframe width="390" height="215" src="https://www.youtube.com/embed/skQhOF5nqzs?si=rAN02C4xBN5OGJsy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                  
                                </div>
                                <p>AYUDEMOS CON UN LIKE A ESTE COLEGA </p>
                              </div> 

                    </main>
                              
                    <!--aqui article-->          
                   <article>
                    <div class="content1">
                      <img src="../imagenes/widowslogo.jpg" alt="diploma">
                    </div>
                    <div class="content2">
                      <img src="../imagenes/oficce.png" alt="oficce">
                    </div>
                      <div class="content3">
                        <img src="../imagenes/redes.jpg" alt="redes sociales">
                      </div>
                    
                    </article>          
<!--aqui footer-->

  <footer>
        <h6>&copy;Danielfullgas Diseño web 2024 Argentina </h6>
        <a class="enlace" href="https:www.facebook.com" target="_blank"><img class="sociales" src="../imagenes/facebook 40.png" alt="faebook"></a> <a class="enlace" href="https:www.instagram.com" target="_blank"><img class="inst" src="../imagenes/ig 40.png" alt="in"></a>
        <h6>General Rodriguez Buenos Aires Argentina</h6>
    </footer> 
          </div>
</div> 
       <!--scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

         
</body>
</html>
