
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="Servicio de reparación de PCs, mantenimiento de computadoras, diagnóstico y reparación de laptops, soporte técnico profesional.">
    <meta name="keywords" content="reparación de PC, reparación de computadoras, soporte técnico, reparación de laptops, diagnóstico de PCs, mantenimiento de equipos, servicio técnico de computadoras, reparar computadora, solucionar problemas PC">
    <meta name="author" content="DIAGNO-PC">
          <!--icono pestaña-->
     <link rel="shortcut icon" href="../imagenes/cabecera.ico" type="image/x-icon">  
     <link rel="stylesheet" href="../styles/style.css">
          <title>DIAGNO-PC</title>
</head>
<body>
          <header>
                    <div class="logo"><img src="../imagenes/logo.jpeg" alt="logo"></div>
                    <div class="centro">REPARACION DE PC Y NOTEBOOK</div>
                    <div class="whatsapp">
                        <a href="https://wa.me/1149984473" target="_blank">Contáctanos por WhatsApp</a>
                    </div>
                </header>
            
                <!-- Navegación -->
                <nav>
                    <ul>
                        <li><a href="../../index.html">Nosotros</a></li>
                        <li><a href="#">Nuestros trabajos</a></li>
                        <li><a href="carrusel.html">Reparaciones</a></li>
                        <li><a href="formulario.html">Contacto</a></li>
                    </ul>
                </nav>
            
                <!-- Contenedores de texto -->
                <div class="contenedores">
                    <div class="contenedor">
                        <h4>NUESTROS TRABAJOS</h4>
                              <ul>
                                        <li><p class="rep"> REINSTALACIONES DE WINDOWS FORMATEOS.</p></li> 
                                        <li><p class="rep"> INSTALACION DE WINDOWS Y OFFICE.</p></li>
                                        <li><p class="rep">INSTALACION Y ACTUALIZACION DE ANTIVIRUS.</p></li>
                                        <li><p class="rep">ELIMINACION DE VIRUS, TROYANOS Y SPYWARE.</p></li>
                                        <li><p class="rep">ACTUALIZACION E INTALACION DE DRIVERS.</p></li>
                                        <li><p class="rep">CONFIGURACION,MANTENIMIENTO Y ACTUALIZACIONES DE SOFWARE.</p></li>
                                        <li><p class="rep">SOPORTE DE RED (COMPARTIR CARPETAS, ARCHIVOS E IMPRESORAS).</p></li>
                                        <li><p class="rep">BACKUP DE DATOS</p></li>
                                        <li><p class="rep">INSTALACION DE PLACAS DE VIDEO, PERISFERICOS Y DISPOSITIVOS.</p></li>
                                        <li><p class="rep">REPARACION DE FALLAS ELECTRONICAS.</p></li>
                                        <li><p class="rep">LIMPIEZA Y MANTENIMIENTO.</p></li>
                                        <li><p class="rep">CAMBIO DE PASTA TERMICA.</p></li>
                                        <li><p class="rep">ARMADO DE PC </p></li>
                                        <li><p class="rep">PRESUPUESTO SIN CARGO </p></li>
                                        <li><p class="rep">RETIRO A DOMICILIO </p></li>
                                        <li><p class="rep">DESBLOQUEO DE NETBOOK, REPROGRAMACION DE BIOS </p></li>
                              
                                     </ul>
        
                    </div>
                    <div class="contenedor1">
                        <h2>¿ Que es el hadware ?</h2>
                    <p>
                     Se trata de componentes eléctricos, electrónicos,
                     electromecánicos y mecánicos que facilitan el funcionamiento
                     del ordenador, desde la pantalla, el teclado y el ratón hasta los componentes
                     internos como el disco duro o la placa base        
                    </p>
                    <br>
                     <h2>¿Qué es el software ?</h2>
                       <p> Se llama así a todos los programas adicionales que se incorporan al computador, 
                        dotado ya de un sistema operativo,
                         con el propósito de llevar a cabo un sinfín de tareas posibles: desde
                         procesadores de texto, hojas de cálculo, navegadores de internet,
                          aplicaciones de diseño o videojuegos.</p>
                          <img src="../imagenes/ramm.jpg" alt="">
                          <img src="../imagenes/pro1.jpg" alt="">
                        
                    
                    </div>
                    <div class="contenedor2">
                        <h3> Tu PC que no enciende</h3>
                        <p>Cuando tu PC no se enciende, puede ser aterrador.<br> La causa puede ser tan simplemente
                            como un cable suelto o tan complejo como un problema de hardware.<br>
                        Un tecnico puede diagnosticar la causa y brindarte una solucion rapida.  </p>
                        <img src="../imagenes/noenciende.jpg" alt="">
                        <ul>
                            <a class="ssd"  href="lenta.html"><H5> MI PC ESTA LENTA</H5> </a>
                            <a class="ssd" href="discos.html"><H5> MI DISCO ESTA LENTO</H5></a>
                            <a class="ssd" href="procesador.html"> <H5>EL PROCESADOR ESTA AL 100%</H5></a>
                            <a href="electronica.html"><H5>MI PC NO ENCIENDE</H5></a>
                          </ul>
                       <img src="../imagenes/widowslogo.jpg" alt="">

                    </div>
                    <div class="contenedor4">
                        <img class="marcas" src="../imagenes/marcas.jpeg" alt="">
                        <img src="../imagenes/oficce.png" alt="">
                       
                    </div>
                </div>
            
                <!-- Footer -->
                <footer>
                    <p>&copy; 2024 DIAGNO-PC | Todos los derechos reservados.</p>   <p>General Rodriguez Buenos Aires Argentina</p>
                </footer>
            

          
</body>
</html>